{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Contact us | BIT Lalpur{% endblock title %}</title>

</head>

<body>

    {% block body %}
    <main>
        <div class="container">
            <div class="album py-5 bg-home-about rounded-3">
                <div class="container px-4">
                    <div class="container-fluid d-flex justify-content-center mb-5">
                        <div class="header">
                            <h1 class="notranslate">CONTACTS</h1>
                        </div>
                        <hr>
                    </div>

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col-md-6">
                            <a href="#" class="card shadow-sm text-decoration-none">
                                <div class="card-body">
                                    <div class="col p-4 d-flex flex-column position-static">
                                        <strong class="d-inline-block mb-2 text-success">Director
                                            (In-charge)</strong>
                                        <hr class="my-1">
                                        <h4 class="mb-0 d-inline">Dr. Vandana Bhattacharjee</h4>
                                        <!-- <p class="d-inline mb-0">:</p> -->
                                        <hr class="my-3">
                                        <p class="card-text mb-auto">
                                        <ul class="list-unstyled m-0">
                                            <li class="bg-home-about rounded-1 p-2 mb-2">
                                                <span class="fw-bold">
                                                    Contact No.:
                                                </span>
                                                9431596469
                                            </li>
                                            <li class="bg-home-about rounded-1 p-2">
                                                <span class="fw-bold">
                                                    Email Id:
                                                </span>
                                                <br class="mb-1">
                                                <span class="mail">dir.lalpur@bitmesra.ac.in</span>
                                            </li>
                                        </ul>
                                        </p>

                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-6">
                            <a href="#" class="card shadow-sm text-decoration-none">
                                <div class="card-body">
                                    <div class="col p-4 d-flex flex-column position-static">
                                        <strong class="d-inline-block mb-2 text-info">Assistant
                                            Registrar</strong>
                                        <hr class="my-1">
                                        <h4 class="mb-0 d-inline">Mr. Siddhi Kant Mishra</h4>
                                        <!-- <p class="d-inline mb-0">:</p> -->
                                        <hr class="my-3">
                                        <p class="card-text mb-auto">
                                        <ul class="list-unstyled m-0">
                                            <li class="bg-home-about rounded-1 p-2 mb-2">
                                                <span class="fw-bold">
                                                    Contact No.:
                                                </span>
                                                9939777423
                                            </li>
                                            <li class="bg-home-about rounded-1 p-2">
                                                <span class="fw-bold">
                                                    Email Id:
                                                </span>
                                                <br class="mb-1">
                                                <span class="mail">ar.bitlalpur@bitmesra.ac.in</span>

                                            </li>
                                        </ul>
                                        </p>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <hr class="my-4">

                <h4 class="px-3 mb-5 text-center">Academic Coordinators</h4>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 px-4 m-0">
                    <div class="col-md-6">
                        <a href="#" class="card shadow-sm text-decoration-none">
                            <div class="card-body">
                                <div class="col p-4 d-flex flex-column position-static pb-0">
                                    <strong class="d-inline-block mb-2 text-warning">Computer Science</strong>
                                    <hr class="my-1">
                                    <h4 class="mb-0">Dr. Amrita Priyam</h4>
                                    <hr class="my-3">
                                    <p class="card-text mb-auto">
                                    <ul class="list-unstyled m-0">
                                        <li class="bg-home-about rounded-1 p-2 mb-2">
                                            <span class="fw-bold">
                                                Contact No.:
                                            </span>
                                            9431361802
                                        </li>
                                        <li class="bg-home-about rounded-1 p-2">
                                            <span class="fw-bold">
                                                Email Id:
                                            </span>
                                            <br class="mb-1">
                                            <span class="mail"> apriyam@bitmesra.ac.in</span>
                                        </li>
                                    </ul>
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="card shadow-sm text-decoration-none">
                            <div class="card-body">
                                <div class="col p-4 d-flex flex-column position-static pb-0">
                                    <strong class="d-inline-block mb-2 text-warning">Management</strong>
                                    <hr class="my-1">
                                    <h3 class="mb-0">Dr. Pranab Kumar</h3>
                                    <hr class="my-3">
                                    <p class="card-text mb-auto">
                                    <ul class="list-unstyled m-0">
                                        <li class="bg-home-about rounded-1 p-2 mb-2">
                                            <span class="fw-bold">
                                                Contact No.:
                                            </span>
                                            9431363934
                                        </li>
                                        <li class="bg-home-about rounded-1 p-2">
                                            <span class="fw-bold">
                                                Email Id:
                                            </span>
                                            <br class="mb-1">
                                            <span class="mail">pranabkumar@bitmesra.ac.in</span>
                                        </li>
                                    </ul>
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <hr class="my-4">

                <h4 class="px-3 mb-5 text-center">Contact details of Offices at BIT Lalpur
                    Centre</h4>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 px-4 m-0">

                    <div class="col-md-6">
                        <a href="#" class="card shadow-sm text-decoration-none">
                            <div class="card-body">
                                <div class="col p-4 pb-0 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Account</strong>
                                    <hr class="my-1">
                                    <h4 class="mb-0">Mr. Shantanu Kumar</h4>
                                    <hr class="my-3">
                                    <p class="card-text mb-auto">
                                    <ul class="list-unstyled m-0">
                                        <li class="bg-home-about rounded-1 p-2 mb-2">
                                            <span class="fw-bold">
                                                Contact No.:
                                            </span>
                                            9955004848
                                        </li>
                                        <li class="bg-home-about rounded-1 p-2">
                                            <span class="fw-bold">
                                                Email Id:
                                            </span>
                                            <br class="mb-1">
                                            <span class="mail">shantanu@bitmesra.ac.in</span>
                                        </li>
                                    </ul>
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="#" class="card shadow-sm text-decoration-none">
                            <div class="card-body">
                                <div class="col p-4 pb-0 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Account</strong>
                                    <hr class="my-1">
                                    <h3 class="mb-0">Mr. Suresh Mahto</h3>
                                    <hr class="my-3">
                                    <p class="card-text mb-auto">
                                    <ul class="list-unstyled m-0">
                                        <li class="bg-home-about rounded-1 p-2 mb-2">
                                            <span class="fw-bold">
                                                Contact No.:
                                            </span>
                                            8957008961
                                        </li>
                                        <li class="bg-home-about rounded-1 p-2">
                                            <span class="fw-bold">
                                                Email Id:
                                            </span>
                                            <br class="mb-1">
                                            <span class="mail">sureshmahtolalpur@bitmesra.ac.in</span>
                                        </li>
                                    </ul>
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="col-md-6">
                        <a href="#" class="card shadow-sm text-decoration-none">
                            <div class="card-body">
                                <div class="col p-4 pb-0 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Admission</strong>
                                    <hr class="my-1">
                                    <h3 class="mb-0">Dr. Amrita Priyamr</h3>
                                    <hr class="my-3">
                                    <p class="card-text mb-auto">
                                    <ul class="list-unstyled m-0">
                                        <li class="bg-home-about rounded-1 p-2 mb-2">
                                            <span class="fw-bold">
                                                Contact No.:
                                            </span>
                                            9431361802
                                        </li>
                                        <li class="bg-home-about rounded-1 p-2">
                                            <span class="fw-bold">
                                                Email Id:
                                            </span>
                                            <br class="mb-1">
                                            <span class="mail">admissionsbitlalpur@bitmesra.ac.in</span>
                                        </li>
                                    </ul>
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="#" class="card shadow-sm text-decoration-none">
                            <div class="card-body">
                                <div class="col p-4 pb-0 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Admission</strong>
                                    <hr class="my-1">
                                    <h3 class="mb-0">Dr. Sanjay Kumar</h3>
                                    <hr class="my-3">
                                    <p class="card-text mb-auto">
                                    <ul class="list-unstyled m-0">
                                        <li class="bg-home-about rounded-1 p-2 mb-2">
                                            <span class="fw-bold">
                                                Contact No.:
                                            </span>
                                            9934514216
                                        </li>
                                        <li class="bg-home-about rounded-1 p-2">
                                            <span class="fw-bold">
                                                Email Id:
                                            </span>
                                            <br class="mb-1">
                                            <span class="mail">admissionsbitlalpur@bitmesra.ac.in</span>
                                        </li>
                                    </ul>
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="#" class="card shadow-sm text-decoration-none">
                            <div class="card-body">
                                <div class="col p-4 pb-0 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Admission</strong>
                                    <hr class="my-1">
                                    <h3 class="mb-0">Mr. Basudeo Singh</h3>
                                    <hr class="my-3">
                                    <p class="card-text mb-auto">
                                    <ul class="list-unstyled m-0">
                                        <li class="bg-home-about rounded-1 p-2 mb-2">
                                            <span class="fw-bold">
                                                Contact No.:
                                            </span>
                                            9905745754
                                        </li>
                                        <li class="bg-home-about rounded-1 p-2">
                                            <span class="fw-bold">
                                                Email Id:
                                            </span>
                                            <br class="mb-1">
                                            <span class="mail">admissionsbitlalpur@bitmesra.ac.in</span>
                                        </li>
                                    </ul>
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="#" class="card shadow-sm text-decoration-none">
                            <div class="card-body">
                                <div class="col p-4 pb-0 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Semester</strong>
                                    <hr class="my-1">
                                    <h3 class="mb-0">Dr. Srabani Mukhopadhyaya</h3>
                                    <hr class="my-3">
                                    <p class="card-text mb-auto">
                                    <ul class="list-unstyled m-0">
                                        <li class="bg-home-about rounded-1 p-2 mb-2">
                                            <span class="fw-bold">
                                                Contact No.:
                                            </span>
                                            9830774212
                                        </li>
                                        <li class="bg-home-about rounded-1 p-2">
                                            <span class="fw-bold">
                                                Email Id:
                                            </span>
                                            <br class="mb-1">
                                            <span class="mail">sembitlalpur@bitmesra.ac.in</span>
                                        </li>
                                    </ul>
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="col-md-6">
                        <a href="#" class="card shadow-sm text-decoration-none">
                            <div class="card-body">

                                <div class="col p-4 pb-0 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Semester</strong>
                                    <hr class="my-1">
                                    <h3 class="mb-0">Dr. Satrajeet Choudhary</h3>
                                    <hr class="my-3">
                                    <p class="card-text mb-auto">
                                    <ul class="list-unstyled m-0">
                                        <li class="bg-home-about rounded-1 p-2 mb-2">
                                            <span class="fw-bold">
                                                Contact No.:
                                            </span>
                                            9934504749
                                        </li>
                                        <li class="bg-home-about rounded-1 p-2">
                                            <span class="fw-bold">
                                                Email Id:
                                            </span>
                                            <br class="mb-1">
                                            <span class="mail">sembitlalpur@bitmesra.ac.in</span>
                                        </li>
                                    </ul>
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="#" class="card shadow-sm text-decoration-none">
                            <div class="card-body">

                                <div class="col p-4 pb-0 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Admission</strong>
                                    <hr class="my-1">
                                    <h3 class="mb-0">Mrs. Mini Dubey</h3>
                                    <hr class="my-3">
                                    <p class="card-text mb-auto">
                                    <ul class="list-unstyled m-0">
                                        <li class="bg-home-about rounded-1 p-2 mb-2">
                                            <span class="fw-bold">
                                                Contact No.:
                                            </span>
                                            8210234745
                                        </li>
                                        <li class="bg-home-about rounded-1 p-2">
                                            <span class="fw-bold">
                                                Email Id:
                                            </span>
                                            <br class="mb-1">
                                            <span class="mail">sembitlalpur@bitmesra.ac.in</span>
                                        </li>
                                    </ul>
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="col-md-6">
                        <a href="#" class="card shadow-sm text-decoration-none">
                            <div class="card-body">
                                <div class="col p-4 pb-0 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">ERP</strong>
                                    <hr class="my-1">
                                    <h3 class="mb-0">Dr. Kuntal Mukherjee</h3>
                                    <hr class="my-3">
                                    <p class="card-text mb-auto">
                                    <ul class="list-unstyled m-0">
                                        <li class="bg-home-about rounded-1 p-2 mb-2">
                                            <span class="fw-bold">
                                                Contact No.:
                                            </span>
                                            9934504749
                                        </li>
                                        <li class="bg-home-about rounded-1 p-2">
                                            <span class="fw-bold">
                                                Email Id:
                                            </span>
                                            <br class="mb-1">
                                            <span class="mail">erpbitlalpur@bitmesra.ac.in</span>
                                        </li>
                                    </ul>
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="#" class="card shadow-sm text-decoration-none">
                            <div class="card-body">

                                <div class="col p-4 pb-0 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">ERP</strong>
                                    <hr class="my-1">
                                    <h3 class="mb-0">Mrs. Mini Dubey</h3>
                                    <hr class="my-3">
                                    <p class="card-text mb-auto">
                                    <ul class="list-unstyled m-0">
                                        <li class="bg-home-about rounded-1 p-2 mb-2">
                                            <span class="fw-bold">
                                                Contact No.:
                                            </span>
                                            9931149772
                                        </li>
                                        <li class="bg-home-about rounded-1 p-2">
                                            <span class="fw-bold">
                                                Email Id:
                                            </span>
                                            <br class="mb-1">
                                            <span class="mail">erpbitlalpur@bitmesra.ac.in</span>
                                        </li>
                                    </ul>
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="#" class="card shadow-sm text-decoration-none">
                            <div class="card-body">
                                <div class="col p-4 pb-0 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Examination</strong>
                                    <hr class="my-1">
                                    <h3 class="mb-0">Dr. Jaya Pal </h3>
                                    <hr class="my-3">
                                    <p class="card-text mb-auto">
                                    <ul class="list-unstyled m-0">
                                        <li class="bg-home-about rounded-1 p-2 mb-2">
                                            <span class="fw-bold">
                                                Contact No.:
                                            </span>
                                            9931149772
                                        </li>
                                        <li class="bg-home-about rounded-1 p-2">
                                            <span class="fw-bold">
                                                Email Id:
                                            </span>
                                            <br class="mb-1">
                                            <span class="mail">exambitlalpur@bitmesra.ac.in</span>
                                        </li>
                                    </ul>
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="#" class="card shadow-sm text-decoration-none">
                            <div class="card-body">
                                <div class="col p-4 pb-0 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Examination</strong>
                                    <hr class="my-1">
                                    <h3 class="mb-0">Dr. Shiva Surya Narayana</h3>
                                    <hr class="my-3">
                                    <p class="card-text mb-auto">
                                    <ul class="list-unstyled m-0">
                                        <li class="bg-home-about rounded-1 p-2 mb-2">
                                            <span class="fw-bold">
                                                Contact No.:
                                            </span>
                                            9810950586
                                        </li>
                                        <li class="bg-home-about rounded-1 p-2">
                                            <span class="fw-bold">
                                                Email Id:
                                            </span>
                                            <br class="mb-1">
                                            <span class="mail">exambitlalpur@bitmesra.ac.in</span>
                                        </li>
                                    </ul>
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="#" class="card shadow-sm text-decoration-none">
                            <div class="card-body">

                                <div class="col p-4 pb-0 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Student
                                        Section</strong>
                                    <hr class="my-1">
                                    <h3 class="mb-0">Dr. Pradeep Munda</h3>
                                    <hr class="my-3">
                                    <p class="card-text mb-auto">
                                    <ul class="list-unstyled m-0">
                                        <li class="bg-home-about rounded-1 p-2 mb-2">
                                            <span class="fw-bold">
                                                Contact No.:
                                            </span>
                                            7061765573
                                        </li>
                                        <li class="bg-home-about rounded-1 p-2">
                                            <span class="fw-bold">
                                                Email Id:
                                            </span>
                                            <br class="mb-1">
                                            <span class="mail">stusecbitlalpur@bitmesra.ac.in</span>
                                        </li>
                                    </ul>
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="#" class="card shadow-sm text-decoration-none">
                            <div class="card-body">

                                <div class="col p-4 pb-0 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Student
                                        Section</strong>
                                    <hr class="my-1">
                                    <h3 class="mb-0">Mr. Rana Pratap Mishra</h3>
                                    <hr class="my-3">
                                    <p class="card-text mb-auto">
                                    <ul class="list-unstyled m-0">
                                        <li class="bg-home-about rounded-1 p-2 mb-2">
                                            <span class="fw-bold">
                                                Contact No.:
                                            </span>
                                            9608171323
                                        </li>
                                        <li class="bg-home-about rounded-1 p-2">
                                            <span class="fw-bold">
                                                Email Id:
                                            </span>
                                            <br class="mb-1">
                                            <span class="mail">stusecbitlalpur@bitmesra.ac.in</span>
                                        </li>
                                    </ul>
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="#" class="card shadow-sm text-decoration-none">
                            <div class="card-body">

                                <div class="col p-4 pb-0 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Training &
                                        Placement</strong>
                                    <hr class="my-1">
                                    <h3 class="mb-0">Dr.T. K. Banerjee
                                    </h3>
                                    <hr class="my-3">
                                    <p class="card-text mb-auto">
                                    <ul class="list-unstyled m-0">
                                        <li class="bg-home-about rounded-1 p-2 mb-2">
                                            <span class="fw-bold">
                                                Contact No.:
                                            </span>
                                            7980358286
                                        </li>
                                        <li class="bg-home-about rounded-1 p-2">
                                            <span class="fw-bold">
                                                Email Id:
                                            </span>
                                            <br class="mb-1">
                                            <span class="mail">tpolalpur@bitmesra.ac.in</span>
                                        </li>
                                    </ul>
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="#" class="card shadow-sm text-decoration-none">
                            <div class="card-body">
                                <div class="col p-4 pb-0 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Training &
                                        Placement</strong>
                                    <hr class="my-1">
                                    <h3 class="mb-0">Dr. Siba Mitra</h3>
                                    <hr class="my-3">
                                    <p class="card-text mb-auto">
                                    <ul class="list-unstyled m-0">
                                        <li class="bg-home-about rounded-1 p-2 mb-2">
                                            <span class="fw-bold">
                                                Contact No.:
                                            </span>
                                            8777308118
                                        </li>
                                        <li class="bg-home-about rounded-1 p-2">
                                            <span class="fw-bold">
                                                Email Id:
                                            </span>
                                            <br class="mb-1">
                                            <span class="mail">stusecbitlalpur@bitmesra.ac.in</span>
                                        </li>
                                    </ul>
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="#" class="card shadow-sm text-decoration-none">
                            <div class="card-body">

                                <div class="col p-4 pb-0 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Training &
                                        Placement</strong>
                                    <hr class="my-1">
                                    <h3 class="mb-0">Mrs. Anamika Charan</h3>
                                    <hr class="my-3">
                                    <p class="card-text mb-auto">
                                    <ul class="list-unstyled m-0">
                                        <li class="bg-home-about rounded-1 p-2 mb-2">
                                            <span class="fw-bold">
                                                Contact No.:
                                            </span>
                                            9608171323
                                        </li>
                                        <li class="bg-home-about rounded-1 p-2">
                                            <span class="fw-bold">
                                                Email Id:
                                            </span>
                                            <br class="mb-1">
                                            <span class="mail">tpolalpur@bitmesra.ac.in</span>
                                        </li>
                                    </ul>
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="#" class="card shadow-sm text-decoration-none">
                            <div class="card-body">

                                <div class="col p-4 pb-0 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Other
                                        Enquiries</strong>
                                    <hr class="my-1">
                                    <h3 class="mb-0">Mr. Basudeo Singh</h3>
                                    <hr class="my-3">
                                    <p class="card-text mb-auto">
                                    <ul class="list-unstyled m-0">
                                        <li class="bg-home-about rounded-1 p-2 mb-2">
                                            <span class="fw-bold">
                                                Contact No.:
                                            </span>
                                            9905745754
                                        </li>
                                        <li class="bg-home-about rounded-1 p-2">
                                            <span class="fw-bold">
                                                Email Id:
                                            </span>
                                            <br class="mb-1">
                                            <span class="mail">office.bitlalpur@bitmesra.ac.in</span>
                                        </li>
                                    </ul>
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>


                </div>
            </div>
        </div>

    </main>
    {% endblock body %}

    {% block js %}{% endblock js %}

</body>

</html>