body {
    top: 0 !important;

}

.scroll-bar::-webkit-scrollbar {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 7px;
}

.scroll-bar::-webkit-scrollbar-thumb {
    background: #aeadad;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.scroll-bar:hover::-webkit-scrollbar-thumb {
    background: #747474;
}


.VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none !important;
}

.side_toggle {
    height: 2.5rem;
    width: 2.5rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

ion-icon.menu {
    font-size: 1.8rem;
    line-height: 0;
}


.dropdown-toggle {
    outline: 0;
}

.btn-toggle {
    height: 3rem;
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(var(--bs-emphasis-color-rgb), .85 !important);
    background-color: #dbb2b2 !important;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle.no_arrow::before {
    content: '';
}

[data-bs-theme="dark"].btn-toggle.no_arrow::before {
    content: '';
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
    background-color: #dbb2b2;
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}

.btn-toggle-nav li {
    position: relative;
    width: 100%;
    height: 3rem;
    overflow: hidden;
    border-radius: 1rem;
}

.btn-toggle-nav li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #dbb2b2;
}

.scrollarea {
    overflow-y: auto;
}

.sidebar_header_text {
    color: var(--bs-black);
}

[data-bs-theme="dark"] .sidebar_header_text {
    color: var(--bs-white);
}

.bg-home-about {
    background: #e6e6e6;
}

[data-bs-theme="dark"] .bg-home-about {
    background: #3b3b3b;
}

.about-lalpur {
    background: #d3d1d1;
}

[data-bs-theme="dark"] .about-lalpur {
    background: #545454;
}

.nav-item {
    .nav-link {
        color: initial;
        text-decoration: none;
        position: relative;

        &:hover {
            color: #d33039; // Change color on hover
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            display: block;
            border-bottom: 2px solid #fff;
            width: 100%;
            transform: scaleX(0);
            transition: transform 0.25s ease-in;
        }

        &:hover:after {
            transform: scaleX(1); // Show border only on hover
        }
    }
}

.font-para-11 {
    font-size: 1.1rem;
}

.font-para-8 {
    font-size: 0.8rem;
}

.pdf-btn {
    height: 300px;
    width: 300px;
    object-fit: contain;
    overflow: hidden;
    transition: .5s ease;
    border: 1px solid #b29497 !important;
}

.pdf-btn:hover {
    border-color: #5d5555 !important;
    transition: 0s ease;
    filter: brightness(0.9);
}

.department_img {
    max-width: 600px;
    object-fit: contain;
    overflow: hidden;
    transition: .5s ease;
    border: 1px solid #b29497 !important;
}

.div_blur_hero {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.video__youtube {
    height: 100%;
}

.mail {
    cursor: pointer !important;
}

.sendmail {
    position: fixed;
    height: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(var(--bs-body-bg), .85);
    backdrop-filter: blur(5px);
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;

    &.active {
        height: 100%;
    }

    aside {
        position: absolute;
        bottom: 0;
        height: 70%;
        width: 80%;
    }
}


// Youtube fixes.....

.responsive-iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.video__youtube {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video__youtube h5,
.video__youtube p {
    margin-bottom: 0;
}