{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FAQs | BIT Lalpur{% endblock title %}</title>
</head>

<body>

    <header>...header</header>
    {% block body %}
    <main class="container d-flex flex-column align-items-center justify-content-center">
        <div class="text w-100 rounded-40 p-3 bg-home-about" style="border-radius: 10px;">
            <h1 class="text-center">FAQs</h1>
            <hr>
            <div class="container about-lalpur rounded-3 p-4 accordion">
                {% for questions in FAQs %}
                <div class="accordion-item w-100">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#{{ questions.sno }}" aria-expanded="true" aria-controls="{{ questions.sno }}">
                            {{ questions.question }}
                        </button>
                    </h2>
                    <div id="{{ questions.sno }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {{ questions.answer | safe }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    {% endblock body %}
    <footer>...footer</footer>

</body>

</html>