<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up | BIT Lalpur</title>
    <!-- <title>Blog | BIT Lalpur</title> -->
    <link rel="shortcut icon" href="/assets/brand/bit_logo_50x50.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

</head>

<body>
    <main class=" container pt-5">
        <div class="" style="height: 100%; width: 100%; background:#b29497; backdrop-filter: blur(0.5px);">

            <div class=" d-flex head row g-3 p-5 pt-5 ps-5 pe-5 pb-0">
                <div class="col-md-7 col-sm-12">
                    <h1>Forget Password</h1>
                </div>
                <div class="col-md-5 col-sm-12 d-flex align-items-center">
                    <select class="form-select form-select-sm border rounded-3 me-2" id="choose" name="choose">
                        <option selected>select Language</option>
                        <option value="1">English</option>
                        <option value="2">Hindi</option>
                        <option value="3">bengali</option>
                    </select>
                    <div class=""><img src="/assets/brand/bit_logo_50x50.png" alt="" class="me-2"></div>
                </div>
            </div>
            <div>
               <h4 class="mt-5 text-center"> We’ve sent an OTP to your email</h4>
                <div class="container d-flex justify-content-center align-items-center " style="height: 50vh;
                    background:#E7E7E7; backdrop-filter: blur(0.3px);">



                    <div class="text-center " style="width: 600px;">
                        <div class="input-group mb-5" style="width: 100%;">
                            <span class="input-group-text  " id="basic-addon1">BITL</span>
                            <input type="text" class="form-control form-control-sm text-center" placeholder="Username"
                                aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mt-4  justify-content-center" style="width: 100%;">
                            <button class="btn btn-success rounded-pill" style="width: 400px;">NEXT</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </main>

    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Google translate element... -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>

    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>