<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up | BIT Lalpur</title>
    <!-- <title>Blog | BIT Lalpur</title> -->
    <link rel="shortcut icon" href="/assets/brand/bit_logo_50x50.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

</head>

<body>
    <main class=" container p-5">
        <div class="rounded-3" style="height: 100%; width: 100%; background:#b29497; backdrop-filter: blur(0.5px);">

            <div class=" d-flex head row g-3 p-5 pt-4 ps-5 pe-5 pb-4">
                <div class="col-md-7 col-sm-12">
                    <h1>Reset Password</h1>
                </div>
                <div class="col-md-5 col-sm-12 d-flex align-items-center">
                    <select class="form-select form-select-sm border rounded-3 me-2" id="choose" name="choose">
                        <option selected>select Language</option>
                        <option value="1">English</option>
                        <option value="2">Hindi</option>
                        <option value="3">bengali</option>
                    </select>
                    <div class=""><img src="/assets/brand/bit_logo_50x50.png" alt="" class="me-2"></div>
                </div>
            </div>
            <div class="container d-flex flex-column justify-content-center align-items-center rounded-bottom-3 " style="height: 70vh;
                    background:#E7E7E7; backdrop-filter: blur(0.3px); margin-bottom: 5vh;">

                <form class="gap-5 mt-5">
                    <div class="row mb-4">
                        <label for="inputpassword" class="col-sm-4 col-form-label">New Password</label>
                        <div class="col-sm-8">
                            <input type="inputpassword" class="form-control" id="inputpassword">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label for="confirmPassword" class="col-sm-4 col-form-label">Confirm Password</label>
                        <div class="col-sm-8">
                            <input type="confirmPassword" class="form-control" id="confirmPassword">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-outline-success">show</button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success rounded-pill mt-4">Update Password</button>
                </form>

            </div>

        </div>
    </main>

    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Google translate element... -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>

    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>