{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Register | BIT Lalpur{% endblock title %}</title>

</head>

<body>

    {% block body %}
    <main class="container">
        <h1 class="text-center mb-4">Sign Up</h1>

        <form action="#" method="post">
            <div class="container border rounded-3">

                <div class="row g-3 mt-0">
                    <div class="col-md-6">
                        <label for="bit_first_name" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="bit_first_name" name="bit_first_name">
                    </div>
                    <div class="col-md-6">
                        <label for="bit_last_name" class="form-label">Last Name</label>
                        <input type="bit_last_name" class="form-control" id="bit_last_name" name="bit_last_name">
                    </div>
                </div>
                <div class="row g-3 mt-0">
                    <div class="col-md-6">
                        <label for="bit_Email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="bit_Email" name="bit_Email">
                    </div>
                    <div class="col-md-6">
                        <label for="bit_Phone" class="form-label">Phone No.</label>
                        <input type="text" class="form-control" id="bit_Phone" name="bit_Phone">
                    </div>
                </div>

                <div class="row g-3 mt-0">
                    <div class="col-md-6">
                        <label for="bit_Gender" class="form-label">Gender</label>
                        <select class="col-md-6 form-control border rounded-3" id="bit_Gender" name="bit_Gender">
                            <option selected>Gender</option>
                            <option value="1">MALE</option>
                            <option value="2">FEMALE</option>
                            <option value="3">prefer not to say</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="bit_DOB" class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" placeholder="DOB" id="bit_DOB" name="bit_DOB">
                    </div>
                </div>

                <div class="row g-3 mt-0 mb-3">
                    <div class="col-md-6">
                        <label for="bit_roll" class="form-label">FULL Roll No.</label>
                        <input type="text" class="form-control" placeholder="FULL Roll No." id="bit_roll"
                            name="bit_roll">
                    </div>
                </div>


            </div>
            <hr class="my-3">
            <div class="container row border rounded-3 pb-3 m-0 p-0">
                <div class="col-12 mt-3">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2"
                        placeholder="Apartment, studio, or floor">
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">City</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="col-md-4">
                    <label for="inputState" class="form-label">State</label>
                    <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="inputZip" class="form-label">Zip</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>

            </div>
            <hr class="my-3">
            <div class="container row m-0 p-0 rounded-3">
                <div class="col-md-8">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Accept <a href="#">terms and conditions</a> 
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary w-100">Sign in</button>
                </div>
            </div>

        </form>

    </main>
    {% endblock body %}


</body>

</html>